* {
  margin: 0;
  padding: 0;
}
.content {
  width: 510px;
  margin: auto;
}
.content .imgBox {
  list-style: none;
  width: 510px;
  height: 680px;
  background: greenyellow;
  user-select: none;
  position: relative;
}
.content .imgBox li {
  width: 150px;
  height: 150px;
  background: yellow;
  margin: 10px;
  cursor: move;
  float: left;
}
.content .imgBox li img {
  width: 100%;
  height: 100%;
  user-select: none;
}
